nav {
  margin: 0rem 2rem;
  margin-top: 0.5em;
  padding: 2rem;
  border: 2px solid #f4f8fb;
  border-bottom: none;
  display: flex;
  img {
    width: 15rem;
  }
}
.logo {
  margin: 0rem auto;
  font-size: 2.5rem;
  font-weight: 500;
  font-family: Comic Sans MS, Lucida Handwriting;
  font-family: cursive;
}
@media only screen and (max-device-width: 480px) {
  nav {
    margin: 1em;
    padding: 0;
  }
}
