* {
  margin: 0rem;
  padding: 0rem;
}

body {
  background-color: #39afea;
  color: #f4f8fb;
  height: 100vh;
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 0.5em;
}
body::-webkit-scrollbar-thumb {
  background: rgb(64, 192, 226);
  background: rgb(91, 64, 226);
  background: linear-gradient(
    0deg,
    rgba(91, 64, 226, 1) 23%,
    rgba(242, 175, 27, 1) 89%
  );
  background: -moz-linear-gradient(
    0deg,
    rgba(91, 64, 226, 1) 23%,
    rgba(242, 175, 27, 1) 89%
  );
}
ul {
  list-style: none;
}

form {
  -webkit-appearance: none;
  display: flex;
  flex-direction: column;
  width: fit-content;
  position: relative;
  margin: 2rem;
}
form .stick {
  width: 1px;
  margin: 0 auto;
  height: 5rem;
  border: 2px solid #f4f8fb;
  background-color: #f4f8fb;
  transition: 1s linear;
}
form select {
  text-align: center;
  font-weight: bolder;
  margin: auto;
  font-size: 1.5rem;
  padding: 1em 3em;
  border: 5px dotted #1869e2;
}
form option {
  background-color: #062450;
  color: #f4f4f4;
  text-align: left;
}
form input {
  padding: 0.5rem;
  font-size: 2rem;
}
form label {
  align-self: center;
  font-size: 3em;
}
footer {
  font-size: 2rem;
  text-align: center;
  z-index: 0;
  background-color: #3b6cb6;
}

footer .links {
  padding: 1em;
  display: flex;
  justify-content: space-around;
}
footer .links a {
  background-color: #fff;
  border-radius: 50%;
  color: #1869e2;
  transition: all 0.5s;
}
footer .links a:hover {
  background-color: #ecf02a;
  border-radius: 80%;
}
footer .links a:first-child {
  color: black;
}
footer .links a:last-child {
  color: #062450;
}
footer .links a i {
  padding: 1rem;
}
.container {
  margin: 2rem;
}
.toogle {
  cursor: pointer;
  background-color: #073b8a;
}
#loader {
  text-align: center;
}
#alert {
  top: 0rem;
  left: 0%;
  margin: 0rem 2rem;
  padding: 2rem;
  font-size: 30px;
  border-top: 2px solid #c0d4fc;
  background-color: transparent;
  text-align: center;
  display: flex;
  justify-content: center;
}
.btn {
  border: none;
  font-size: 2rem;
  padding: 0.5em;
  transition: all 0.5s;
  text-align: center;
  border: none;
  cursor: pointer;
  font-weight: bolder;
}
.btn-light {
  color: #112b52;
  background-color: #f4f8fb;
}
.btn-dark {
  color: #f4f4f4;
  background-color: #073b8a;
}
.loadingState {
  color: #062450;
  font-size: 2rem;
  font-weight: 900;
}
input[type='text'] {
  transition: all 1s ease;
  margin: 1em;
  font-size: 1.5rem;
  padding: 0.5em;
  font-weight: bolder;
}
input[type='text']:focus {
  margin: 2em;
  border: none;
}
nav {
  margin: 0rem 2rem;
  margin-top: 0.5em;
  padding: 2rem;
  border: 2px solid #f4f8fb;
  border-bottom: none;
  display: flex;
}
nav .logo {
  margin: 0rem auto;
  font-size: 2.5rem;
  font-weight: 500;
  font-family: Comic Sans MS, Lucida Handwriting;
  font-family: cursive;
}

nav .cloud {
  width: 100%;
  animation: 2s move alternate-reverse infinite linear;
}
nav img {
  width: 10rem;
}
#ToogleScreen {
  display: flex;
  align-items: center;
  color: #1869e2;
  justify-content: center;
  background-color: #afc9fc;
  font-size: 2rem;
  transition: all 1s;
  height: 300px;
}
#ToogleScreen > div {
  margin: 1em;
}
#ToogleScreen i {
  cursor: pointer;
}
#ToogleScreen .active {
  color: rgb(255, 255, 255);
}
#main {
  border-top: 2px solid #f4f8fb;
  background: url('../src/image/transparney.webp') no-repeat center center/cover;
  width: 100%;
  padding: 1em;
}
#main .container {
  position: relative;
  color: #112b52;
  width: fit-content;
  margin: 1em auto;
  text-align: center;
  padding: 2em;
  z-index: 1;
}

#main .container::after {
  content: '';
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  z-index: -1;
  opacity: 0.4;
}
#main .container .title {
  color: #f4f4f4;
  font-size: 5rem;
}
#main .container .row {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 1.5em;
}
#main .container h2 li,
#main .container h4 li,
#main .container .list li,
#main .container .wind li {
  margin: 1rem 0;
  font-size: 1.5rem;
}

#search {
  position: relative;
  display: grid;
  background: url('../src/image/asdsa.webp') repeat center center/cover;
  background-color: #f4f8fb;
  width: 100%;
  height: 900px;
  text-align: center;
  z-index: 1;
}

#search::after {
  content: '';
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: rgb(157, 162, 238);
  z-index: -1;
  opacity: 0.2;
}
#search .wetherinput {
  width: 100%;
}
#search .wetherinput #searchWeather {
  margin: 2em auto;
}
#search .wetherinput #searchWeather .form-control {
  border: 2px solid #f4f4f4;
  background-color: #214074;
  display: flex;
  padding: 2em;
  margin-bottom: 3.5em;
}
#search #getWeather {
  margin: auto;
  margin-top: 1em;
}
#search #getWeather:disabled {
  margin-top: 0em;
  border: 2px solid #333;
}

/* animation */
@keyframes move {
  from {
    transform: translate3d(70%, 0px, 0px);
  }
}
@media only screen and (max-width: 600px) {
  input[type='text']:focus {
    margin: 2em 0;
  }
  #loader {
    width: 100%;
  }
  #loader img {
    width: 80%;
  }
  form select {
    width: 70%;
    padding: 0.5rem;
  }
  nav .cloud {
    display: none;
    animation: none;
  }

  #ToogleScreen {
    flex-direction: column;
  }
  #main .container .row {
    display: flex;
    flex-direction: column;
  }
  #search {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  #search #getWeather {
    width: 90%;
  }
  #search .wetherinput #searchWeather .form-control {
    color: aliceblue;
    flex-direction: column;
    padding: 0;
  }
}
@media only screen and (max-device-width: 480px) {
  form {
    height: 150px;
  }
  nav {
    margin: 1em;
    padding: 0;
  }
}
